{% extends 'base.html' %}
{% block tittle %}about{% endblock tittle %}home
{% block body %}

<div class="container-fluid px-0 my-0">
    <img src="https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80" class="d-block w-100" alt="image1" style="width:100px; height:500px">
</div>
<div class="text-center m-4"; Style="text-center font-weight:bold ">
   <h3> We are the team of "THE LITERARY PORTAL AND WE ARE HERE TO JOIN THE WHOLE COMMUNITY OF BOOKLOVERS WITH OUR SINGLE WEBSITE"</h3>
</div>

{% endblock body %}
