{% extends 'base.html' %}
{% block tittle %}rent book1{% endblock tittle %}
{% block body %}
<div class="container-fluid px-0 my-0" style="height:0px">
    <img src="https://i.pinimg.com/736x/89/df/ec/89dfece3d8bbd0c88b052435e4c7f0f7.jpg" 
    alt="book1"
    style="
    height:500px:
    margin-right:0px">
    <h1 class="text-center" style="position:absolute; top:100px; left:600px">
        <strong>Book</strong>-Falling For The Bad Boy
    </h1>
    <h2 class="text-center" style="position:absolute; top:150px; left:600px">
        <strong style="font-size:40px">Authour</strong>-Glenna Maynard
    </h2>
    <h2 class="text-center" style="position:absolute; top:200px; left:600px">
        <strong style="font-size:40px">Summary</strong>-A short summary of book1
    </h2>
    <h2 class="text-center" style="position:absolute; top:250px; left:600px">
        <strong style="font-size:40px">Price</strong>-100rs
    </h2>
</div>

<div class="btn-group">
    <button type="button" style="position:absolute; top:250px; left:600px">Rent Now</button>
  </div>


{% endblock body %}